/******************************************************
 
0. PLATE STYLES

*******************************************************/

#plate {
    padding-top: 2%;
    position: fixed;
    right: 17%;
    width: 40%;
}

/******************************************************
 
1. SUBMENU STYLES

*******************************************************/

#submenu {
    height: 100%;
    position: absolute;
    overflow: auto;
}

#screen_order_categories, 
#screen_order_status, 
#screen_order_current, 
#screen_order_review, 
#screen_order_category, 
#screen_product, 
#screen_check_review, 
#screen_check_tax, 
#screen_check_pay {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
}

.inner_page_title {
    clear: both;
    display: block;
    margin-top: 0;
    position: relative;
    width: 100%;
    z-index: 100;
}

.inner_page_title h1 {
    padding: 3%;
}

/* Restaurant Categories */

#submenu ul.restaurant_categories {
    display: inline-block;
    overflow: scroll;
    padding-left: 10%;
    padding-top: 7%;
    position: relative;
    width: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}

#submenu ul.restaurant_categories li {
    width: 88%;
    height: 8%;
    line-height: 8%;
    padding-bottom: 6%;
    float: none;
    border: medium none;
    margin-bottom: 9%;
    padding-top: 0;
}

#submenu ul.restaurant_categories li h1 {
    padding-top: 7%;
}

/* Restaurant Products */

#submenu ul.restaurant_products {
    display: inline-block;
    overflow: scroll;
    padding-left: 8%;
    padding-top: 15%;
    position: relative;
    width: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}

#submenu ul.restaurant_products li {
    padding-top: 0px;
    border: none;
    margin-bottom: 9%;
    padding-bottom: 3%;
    width: 88%;
    height: 8%;
    line-height: 8%;
    float: none;
    border: medium none;
}

#submenu ul.restaurant_products li h1 {
    padding-top: 10%;
    height: 25px;
}

#submenu ul.restaurant_products li p {
    height: 10px;
}

/* My Order Products */

#submenu ul.order_products {
    display: inline-block;
    overflow: scroll;
    padding-left: 8%;
    padding-top: 7%;
    position: relative;
    width: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}

#submenu ul.order_products li {
    padding-top: 0px;
    border: none;
    margin-bottom: 9%;
    width: 88%;
    float: none;
    border: medium none;
}

.place_order_message {
    margin-bottom: 3%;
    margin-left: 7%;
    margin-top: 0;
    padding-bottom: 3%;
    padding-top: 1%;
    width: 76%;
}

.place_order_message h4 {
    float: none;
    margin: 0;
    padding: 4%;
    width: 88%;
}

.place_order_message button {
    float: none;
    margin: 4px 0 0;
    padding: 4%;
    width: 96%;
}

/******************************************************
 
1. PRODUCT STYLES

*******************************************************/

#tabs {
    float: left;
    padding-left: 10%;
    padding-bottom: 10%;
    width: 80%;
}

#tabs:active,
#tabs:focus,
#tabs ul li:active,
#tabs ul li:focus {
    outline: none !important;
}


#tabs ul.ui-tabs-nav {
    color: #ffffff;
    font-family: HeeboRegular,Arial;
    font-size: 15px;
    height: 80px;
    list-style: outside none none;
    margin-top: 10%;
    padding-left: 0;
    text-shadow: 1px 1px 1px rgba(15, 29, 48, 0.4);
    margin-bottom: 10%;
}

#tabs ul.ui-tabs-nav li {
    background-image: -webkit-linear-gradient(bottom, rgba(34, 50, 71, 0.01) 0%, #223247 100%);
    background-image: -moz-linear-gradient(bottom, rgba(34, 50, 71, 0.01) 0%, #223247 100%);
    background-image: -o-linear-gradient(bottom, rgba(34, 50, 71, 0.01) 0%, #223247 100%);
    background-image: linear-gradient(to top, rgba(34, 50, 71, 0.01) 0%, #223247 100%);
    border-right: 1px solid rgba(15, 29, 48, 0.4);
    float: left;
    padding: 3% 2% 1% 1%;
    text-align: center;
    width: 30%;
}

#tabs ul.ui-tabs-nav li:last-child {
    border-right: none;
}

#tabs ul.ui-tabs-nav li a, #tabs ul.ui-tabs-nav li a:hover {
    color: #ffffff;
    text-decoration: none;
}

#tabs ul.ui-tabs-nav li a {
    width: 23%;
}

#tabs ul.ui-tabs-nav li a:active,
#tabs ul.ui-tabs-nav li a:focus {
    outline: none;
}

#tabs ul.ui-tabs-nav li.ui-tabs-active a:before {
    color: #0093ee !important;
    text-decoration: none;
}

#tabs ul.ui-tabs-nav li a::before {
    font-size: 40px;
    position: unset;
    vertical-align: middle;
    line-height: 55px;
}

#tabs h1.option_name {
    color: #FFFFFF;
    font-family: HeeboRegular,Arial;
    font-size: 21px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(15, 29, 48, 0.4);
}

.product_small_view {
    background: #26364c none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    margin-left: 10%;
    margin-top: 7%;
    width: 80%;
}

.product_small_view .product_photo {
    float: left;
    width: 38%;
    margin-bottom: -1.5%;
}

.product_small_view .product_photo img {
    border-radius: 4px 0 0 4px;
    width: 100%;
}

.product_small_view .product_details {
    float: left;
    width: 60%;
}

.product_small_view h1 {
    color: #ffffff;
    font-family: HeeboLight,Arial;
    font-size: 21px;
    letter-spacing: 0.6px;
    margin-bottom: 0;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 5%;
    text-align: left;
    text-decoration: none;
}

.product_small_view p {
    color: #cccccc;
    font-family: HeeboLight,Arial;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
}

.picker_details {
    background-image: none;
    float: left;
    margin-top: 0;
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

/******************************************************
 
1. ALERT STYLES

*******************************************************/

.success_message, 
.information_message, 
.information_message_review, 
.confirmation_message {
    margin: 0% 11.5% 0% 8%;
    padding: 0 3%;
}

.success_message h4, 
.information_message h4, 
.information_message_review h4, 
.confirmation_message h4 {
    font-size: 16px;
    line-height: 35px;
}