/********************************************************

TABLE OF CONTENTS

********************************************************/

/******************************************************

1. GENERAL STYLE ELEMENTS

*******************************************************/

/* 1.1. Fonts */

@font-face {
    font-family: HeeboBlack;
    src: url(../fonts/Heebo-Black.ttf);
}

@font-face {
    font-family: HeeboBold;
    src: url(../fonts/Heebo-Bold.ttf);
}

@font-face {
    font-family: HeeboLight;
    src: url(../fonts/Heebo-Light.ttf);
}

@font-face {
    font-family: HeeboMedium;
    src: url(../fonts/Heebo-Medium.ttf);
}

@font-face {
    font-family: HeeboRegular;
    src: url(../fonts/Heebo-Regular.ttf);
}

@font-face {
    font-family: HeeboThin;
    src: url(../fonts/Heebo-Thin.ttf);
}

@font-face {
    font-family: SignPainterHouse;
    src: url(../fonts/SignPainter-HouseScript.ttf);
}

/* 1.2. Link Styles */

a {
   outline: 0 !important;
}

.hide {
    display: none;
}

/******************************************************
 
2. BODY
 
*******************************************************/

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../placeholders/background.jpg") no-repeat center center fixed #212F41;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
	padding: 0px;
	margin: 0px;
}

/******************************************************
 
3. HEADER
 
*******************************************************/

/* 3.1. Logo */

.logo h1 {
    font-family: SignPainterHouse, Arial;
    font-size: 55px;
    text-align: center;
    width: 100%;
}

.logo a {
    color: #FFFFFF;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

/* 3.1. Menu */

#menu {
    background-color: #1C293B;
    width: 5%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#menu ul {
    list-style: none;
    position: absolute;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

#menu ul li {
    width: 56.693px;
    padding-bottom: 1%;
    cursor: pointer;
    margin: 0 auto;
}

#menu ul li span.icon {
    width: 56.693px;
    height: 56.693px;
    padding-bottom: 2px;
    float: left;
}

#menu ul li p {
    font-family: HeeboBold, Arial;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    text-align: center;
    padding-top: 5px;
}

#menu ul li.order span.icon {
     background: url("../images/icon_order.svg");
}

#menu ul li.check span.icon {
    background: url("../images/icon_check.svg");
}

#menu ul li.waiter span.icon {
    background: url("../images/icon_waiter.svg");
}

#menu ul li.help span.icon {
    background: url("../images/icon_help.svg");
}

#menu ul li.order.active span.icon {
     background: url("../images/icon_order_blue.svg");
}

#menu ul li.check.active span.icon {
    background: url("../images/icon_check_blue.svg");
}

#menu ul li.waiter.active span.icon {
    background: url("../images/icon_waiter_blue.svg");
}

#menu ul li.help.active span.icon {
    background: url("../images/icon_help_blue.svg");
}

#menu ul li.active p {
    color: #0093EE;
}

/* 3.2. Submenu */

#submenu {
    background-image: -webkit-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: -moz-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: -o-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    margin-left: 7%;
    width: 27%;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#submenu ul {
    list-style: none;
    position: absolute;
    padding-left: 10%;
    width: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}

#submenu ul li {
    font-family: HeeboBold, Arial;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    border-top: 1px solid rgba(244, 237, 255, 0.10);
    cursor: pointer;
    width: 88%;
    height: 8%;
    line-height: 8%;
    padding-bottom: 6%;
    padding-top: 6%;
    float: none;
    letter-spacing: 0.4px;
}

#submenu ul li:last-child {
    margin-bottom: 10%;
    padding-bottom: 6%;
    border-bottom: 1px solid rgba(244, 237, 255, 0.10);
}

#submenu ul li span.icon {
    width: 56.693px;
    height: 56.693px;
    float: left;
    transform: scale(0.6);
    margin-top: -12px;
}

#submenu ul li.new_order span.icon {
     background: url("../images/icon_new_order.svg");
}

#submenu ul li.order_status span.icon {
    background: url("../images/icon_status.svg");
}

#submenu ul li.order_review span.icon {
    background: url("../images/icon_review.svg");
}

#submenu ul li.new_order.active span.icon {
     background: url("../images/icon_new_order_blue.svg");
}

#submenu ul li.order_status.active span.icon {
    background: url("../images/icon_status_blue.svg");
}

#submenu ul li.order_review.active span.icon {
    background: url("../images/icon_review_blue.svg");
}

#submenu ul li.active {
    color: #0093EE;
}

/******************************************************
 
4. INNER MAIN SCREEN
 
*******************************************************/

#screen_new_order, #screen_order_status, #screen_order_review, #screen_order_category, #screen_product {
    background-image: linear-gradient(to top, rgba(34, 50, 71, 0) 0%, #223247 100%);
    display: none;
    float: right;
    width: 66%;
}

.inner_page_title {
    background: rgba(15, 29, 48, 0.6) none repeat scroll 0 0;
    padding-bottom: 2.4%;
    padding-left: 2.4%;
    padding-top: 2.4%;
    position: fixed;
    width: 100%;
}

.inner_page_title h1 {
    color: #ffffff;
    float: left;
    font-family: HeeboRegular,Arial;
    font-size: 26px;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-left: 10px;
    margin-top: 18px;
    text-transform: uppercase;
}

.inner_page_title .page_title {
    float: left;
}

.inner_page_title .page_title span.icon_cat {
    float: left;
    height: 56.693px;
    width: 56.693px;
}

.inner_page_title .back_button span.icon {
    background: rgba(0, 0, 0, 0) url("../images/icon_back.svg") no-repeat scroll 0 0;
    float: left;
    height: 36px;
    margin-left: 4px;
    margin-bottom: 5px;
    width: 50px;
}

.inner_page_title .back_button {
    background: rgba(15, 29, 48, 0.8) none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: HeeboLight,Arial;
    font-size: 14px;
    height: 62px;
    margin: -2.4% 2.4% -2.4% -2.4%;
    padding: 2.4%;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.inner_page_title .back_button:active {
    background: rgba(15, 29, 48, 0.7) none repeat scroll 0 0;
    color: #0093ee;
}

.inner_page_title .back_button:active span.icon {
    background: rgba(0, 0, 0, 0) url("../images/icon_back_blue.svg") repeat scroll 0 0;
}

#screen_new_order .inner_page_title span.icon_cat {
    background: rgba(0, 0, 0, 0) url("../images/icon_new_order.svg") repeat scroll 0 0;
}

/******************************************************
 
4.1. NEW ORDER SCREEN
 
*******************************************************/

#screen_new_order .inner_page_title span.icon_cat {
    background: rgba(0, 0, 0, 0) url("../images/icon_new_order.svg") repeat scroll 0 0;
}

ul.restaurant_categories {
    float: left;
    list-style: outside none none;
    padding-left: 4%;
    padding-top: 20%;
}

ul.restaurant_categories li {
    background: #26364c none repeat scroll 0 0;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 3.3%;
    width: 30%;
    height: 45%;
}

ul.restaurant_categories li h1 {
    font-size: 18px;
    font-family: HeeboLight,Arial;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.6px;
    margin-top: 8px;
}

ul.restaurant_categories li:hover {
    color: #ffffff;
    text-decoration: none;
}

.restaurant_category_image img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
}

/******************************************************
 
4.1. NEW ORDER > CATEGORY SCREEN
 
*******************************************************/

#screen_order_category .inner_page_title span.icon_cat {
    background: url("../images/icon_new_order.svg");
}

ul.restaurant_products {
    float: left;
    list-style: outside none none;
    padding-left: 4%;
    padding-top: 20%;
    overflow-y: hidden;
}

ul.restaurant_products li {
    background: #26364c none repeat scroll 0 0;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 3.3%;
    margin-bottom: 3.3%;
    width: 30%;
    height: 45%;
}

ul.restaurant_products li h1 {
    font-size: 18px;
    font-family: HeeboLight,Arial;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.6px;
    margin-bottom: 0px;
    margin-top: 10px;
}

ul.restaurant_products li p.price {
    font-size: 14px;
    font-family: HeeboLight,Arial;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
    color: #CCCCCC;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
    margin-top: 0px;
}

ul.restaurant_products li:hover {
    color: #ffffff;
    text-decoration: none;
}

.product_image img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
}

/******************************************************
 
4.2. ORDER STATUS SCREEN
 
*******************************************************/

#screen_order_status .inner_page_title span.icon_cat {
    background: url("../images/icon_status.svg");
}

/******************************************************
 
4.1. ORDER REVIEW SCREEN
 
*******************************************************/

#screen_order_review .inner_page_title span.icon_cat {
    background: url("../images/icon_review.svg");
}

/******************************************************
 
4.1. PRODUCT SCREEN
 
*******************************************************/

.picker_share,
picker_calories,
picker_review {
    display: none;
}

#screen_product .inner_page_title span.icon_cat {
    background: url("../images/icon_review.svg");
}

#screen_product {
    background: transparent;
}

#picker {
    width: 50%;
    float: left;
    margin-top: 15vh;
    height: 75vh;
}

.picker_details {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    background-image: -webkit-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: -moz-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: -o-linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    background-image: linear-gradient(rgba(34,50,71,0.00) 0%, #223247 100%);
    margin-top: 25vh;
    height: 75vh;
}

.circle-menu {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;   
}

.circle-menu .center {
    background: #ffffff url("../placeholders/product1.jpg") no-repeat scroll 50% 50% / 100px 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    height: 120px;
    left: 135px;
    position: absolute;
    top: 140px;
    width: 120px;
    z-index: 1000;
}

.circle-menu ul {
    border-radius: 50%;
    height: 300px;
    list-style: outside none none;
    margin: 50px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transform: rotate(30deg);
    width: 300px;
}

.circle-menu li {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 160px;
    height: 160px;
    transform-origin: 100% 100%;
    overflow: hidden;
}

.circle-menu li:nth-child(1) {
    transform: rotate(0deg) skew(30deg);
}
.circle-menu li:nth-child(2) {
     transform: rotate(60deg) skew(30deg);
}
.circle-menu li:nth-child(3) {
    transform: rotate(120deg) skew(30deg);
}
.circle-menu li:nth-child(4) {
    transform: rotate(180deg) skew(30deg);
}
.circle-menu li:nth-child(5) {
    transform: rotate(240deg) skew(30deg);
}
.circle-menu li:nth-child(6) {
    transform: rotate(300deg) skew(30deg);
}

.circle-menu li a {
    display: block;
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 40px;
    background: rgba(15, 29, 48, 0.8) none repeat scroll 0 0;
    transform: skew(-30deg) rotate(-60deg);
    transition: background-color 0.5s;
}

.circle-menu li.inactive a,
.circle-menu li.inactive a:hover  {
    display: block;
    cursor: default !important;
    background: rgba(15, 29, 48, 0.6) none repeat scroll 0 0 !important;
}

.circle-menu li:nth-child(even) a {
    background-color:  rgba(15, 29, 48, 0.8);
}

.circle-menu li a.active,
.circle-menu li.active a {
    background-color:  #0093EE !important;
}

[class^="icon-"]:before {
    position: absolute;
    font-size: 3em;
    bottom: 50%;
    right: 35%;
    color: rgba(240, 240, 240, 1);
}

a.icon_settings {
    width: 50px;
    height: 50px;
    background: url("../images/icon_settings.svg");
}

.picker_details h1 {
    color: rgba(15, 29, 48, 0.8);;
    font-family: HeeboBold,Arial;
    font-size: 26px;
    letter-spacing: 0.6px;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(15, 29, 48, 0.4);
}

.picker_configure ul {
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.picker_configure ul li {
    color: #FFFFFF;
    float: none;
    font-family: HeeboRegular,Arial;
    height: 50px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(15, 29, 48, 0.4);
    width: 100%;
}

.picker_configure ul li button.minus, .picker_configure ul li button.plus {
    background: rgba(15, 29, 48, 0.8);
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: HeeboRegular,Arial;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    width: 15%;
}
.picker_configure ul li button.minus:active, .picker_configure ul li button.plus:active {
    background: #1e74aa none repeat scroll 0 0;
    box-shadow: none;
    border: none;
}

.picker_configure ul li p {
    float: left;
    font-size: 18px;
    height: 5%;
    letter-spacing: 0.4px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
}

.picker_configure button.confirm {
    background: #52ad20 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-top: 20px;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
}

.picker_configure button.confirm:active {
    background: #45921A none repeat scroll 0 0;
    box-shadow: none;
    border: none;
}

select.picker_options {
    background-color: rgba(15, 29, 48, 0.8);
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    height: 50px;
    width: 100%;
    margin-bottom: -5px;
    user-select: none;
}

select.picker_options:active,
.picker_configure ul li button.minus:active,
.picker_configure ul li button.plus:active,
.picker_configure button.confirm:active,
select.picker_options:focus,
.picker_configure ul li button.minus:focus,
.picker_configure ul li button.plus:focus,
.picker_configure button.confirm:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.circle-menu ul.active_configure {
    transform: rotate(30deg);
}

.circle-menu ul.active_review {
    transform: rotate(50deg);
}

.circle-menu ul.active_share {
    transform: rotate(60deg);
}

.circle-menu ul.active_calories {
    transform: rotate(40deg);
}